.card.row {
    height: 250px;
    margin: 30px;
    overflow: hidden;
}

.col-3 {
    padding: 0;
}

.col.content {
    padding: 30px;
    width: 75%;
    height: 0;
}

.button {
    text-align: right;
    width: 75%;
    padding: 10px;
}
